$dropdown-color: #ddd;

.dropdown-panel {
	background-color: $dropdown-color;

	.dropdown-select {
		width: 100% !important;
	}

	.dropdown-col {
		padding: 1em;
	}
}

.ant-popover-inner-content {
	background-color: $dropdown-color;
}

.ant-popover-arrow {
	border-top-color: $dropdown-color !important;
	border-left-color: $dropdown-color !important;
}

