.searchIcon {
	padding-top: 8px;
}

.ant-select-selection-search-input {
	border-radius: 100em;
	height: 42px;
	width: 95% !important;
	margin: 0 2px;
	background-color: #efefef;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.ant-page-header-heading {
	.ant-input {
		background-color: #efefef;
	}
}
