.helpModal {
	position: absolute;
	background-color: #fff;
	border: 2px solid #fff;
	transform: translate(-50%, -50%);
	padding: 0px 12px;

	.closeButton {
		margin-bottom: 16px;
	}

	.helpHeader {
		font-family: monospace;
		font-size: 24px;
		line-height: 2;
		margin-top: 12px;
		margin-bottom: 4px;
	}

	.helpDescription {
		margin-bottom: 18px;
	}
}