@import '../../shared';

.header {
	background-color: #ddd;
	height: 5rem;
	padding: 0.5em 1.5em;

	.button-container {
		@include button-hover;
	}

	.contents {
		margin-right: 1em;

		.dropdownContainer {
			display: flex;
			justify-content: center;
		}
	}

	.order-select {
		margin-right: 3em;
		margin-top: 0.75em;
	}

	#order {
		visibility: hidden;
		// display: inline-block;
		// position: absolute;
	}
}
