@import '../../shared';

.vis {
	height: calc(100vh - 4.15em);
	border-radius: 0.5em 0.5em 0 0;
	background-color: #fff;
}

.vis-container {
	background-color: $header-color;
}

text {
	font-size: smaller;
}

text.active {
	fill: $primary-color;
}

.cell {
	stroke: rgba($color: #000, $alpha: 0);
	stroke-width: 0.05em;
	transition: stroke 0.1s;

	&.active {
		stroke: $primary-color;

	}

	&.active text {
		visibility: visible !important;
	}
}

.tooltip {
	position: absolute;
	background-color: #343434;
	color: white;
	padding: 0.75em;
	font-size: small;
	border-radius: 0.3em;
	max-width: 200px;

	p {
		padding: 0;
		margin: 0;
		max-width: 190px;
		word-wrap: break-word;
	}
}
